{% extends "base.html" %}

{% block content %}
    <h2>Mensagens</h2>  
    <div class="d-flex">
        {% for mensagem in mensagens %}
            <div class="card m-2">
                <div class="card-body pb-2">
                    <p class="card-text">{{mensagem.descricao}}</p>
                    <a class="btn btn-primary" href="{% url 'mensagens:editar' mensagem.id %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'mensagens:excluir' mensagem.id %}">Excluir</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h2>Cadastro</h2>
    <form action="{% url 'mensagens:salvar' %}" method="post" class="m-2">
        {% csrf_token  %}
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição:</label>
            <textarea type="text" name="descricao" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock content %}