{% extends "base.html" %}

{% block content %}
    <h2>Edição</h2>
    <form action="{% url 'mensagens:atualizar' mensagem.id %}" method="post" class="m-2">
        {% csrf_token  %}
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição:</label>
            <textarea type="text" name="descricao" class="form-control">{{mensagem.descricao}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

{% endblock content %}